footer {
    padding-top: 80px ;
    padding-bottom: 20px ;
    background-image: linear-gradient(var(--secondary-background),var(--primary-background));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer h3 {
    flex: 1;
    justify-content: center;
    font-size: 25px ;
    padding: 15px;
}
